body{
    background-color:lightgrey;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    margin: 0;
}
.header{
    border-bottom:5px solid darkgreen ;
    background-color: lightseagreen;
    color:whitesmoke;
    height: 80px;
    font-size: 40px;
    margin: 0;
}
.text-align{
    text-align: center;
}
#search-container{
  
 border: 10px solid darkgreen;
  width:max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 


}
.submit{
    width: 100px;
    height: 10;
    justify-content: center;
    align-items: flex-end;
    background-color: darkgreen;
    color: white;
    border-radius: 4rem;
}
 .card{

    border: 10px solid darkgreen;
    background-color: darkmagenta;
    width:max-content;
    align-items: center;
    justify-self: flex-start;

 }

 .container{
    border:10px solid darkgreen;
    border: 10px;
    width:50%;
    height:50%;
    display:flex;
 }
 .mainCard{
     border: 5px solid black;
     border-radius:2rem;
     padding: 15px;
 }
 .forcast{

    border: 5px solid black;
    width:max-content;
    border-radius:2rem;

  
 }
 .move{
     display:flex;
     justify-content:space-between;
 }